page-home {
  .c1{
    background-color:#ADD8E6;
  }
  .c2{
    padding-top: 1%;
    padding-bottom: 2%;
    font-size: 20px;
    background-color: #DC143C;
  }
  .c3{
    width: 47%;
  }
  .c4{
    margin-top: 50%;
}
  .c5{
    padding-right: 10px;
  }
  .c6{
    color: white;
}
  .c7{
  margin-top: 20%;
}
  .c8{
    color: #000000;

  }
}
