page-biografia {
  .c1{
    background-color: transparent;
    color:#0000F2;
    font-weight: bolder;
    border: none;
    font-size: 18px;
    text-align: right;
  }
  .c2{
    padding-top: 1%;
    padding-bottom: 2%;
    color: #191970	;
    font-size: 20px;
    background-color: #DC143C;
  }
  .c3{
    color: #000000;
    padding-left: 6%;
  }
  .c4{
    padding-left: 20px;
  }
  .c5{
    font-size: 15px;
  }
  .c6{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  .c7{
    background-color: #FFC0CB;
  }
  .c8{
    font-weight: bold;
  }
  .c9{
    width: 200px;
   height: 200px;
   background-color: #000;
   color: #FFF;
   border-radius: 50%;
  }
  .c10{
    text-decoration: none;
    color: black;
  }
  .c11{
    font-weight: bold;
  }
  .c12{
    font-size: 15px;
    color:black;
    font-weight: bold;
    background-color: #FFC0CB;
  }

}
