page-exercicio {
  .c1{
    background-color: transparent;
    color:#0000F2;
    font-weight: bolder;
    border: none;
    font-size: 18px;
  }
  .c2{
    padding-top: 1%;
    padding-bottom: 2%;
    color: #191970	;
    font-size: 20px;
    background-color: #DC143C;
  }
  .c3{
    padding-left: 6%;
    color: #000000;
  }
  .c4{
    background-color: #E6E6FA;
  }
  .c5{
    font-size: 15px;
    font-weight: bold;
  }
  .c6{
    background-color: #00BFFF;
  }
  .c7{
    background-color: white;
  }
  .c8{
    padding-left: 10px;
    padding-right: 10px;
  }
  .c9{
    display: inline;
  }
  .c10{
    font-weight: normal;
  }
}
